OPENAI_API_KEY=
TWITTER_USER_ID=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_TOKEN_SECRET=
TWITTER_USERNAME=
ANTHROPIC_API_KEY=
GOAT_RPC_PROVIDER_URL=
GOAT_WALLET_PRIVATE_KEY=
TWITTER_BEARER_TOKEN=
SONIC_PRIVATE_KEY=
ZEOTC_SECRET=
ZEOTC_CHAT_ID=
ZEOTC_API_KEY=