# GENERAL
.idea/
__pycache__/
.vscode/
*.py~

# CONFIG FILES
.env
.env.zeotc0
.env.zeotc1
twitter_config.json

# AGENTS
agents/*.json

# Include example agent and general config
!agents/example.json
!agents/general.json

# macOS
.DS_Store
.codegpt